body{
background-color:rgb(230, 230, 230); 

}
div
{
 color: hsl(200% 18% 46%);
  text-align:right;
  font-size: 35px;
  padding: 10px;
  margin: 10px;
  border-color: whitesmoke ;
  border-style: solid ;
}

.super
{
  font-size: 35px;
  color: black;
  text-align: center;
}
.all{
width: 551px;

}
.all video{
width: 500px;
height: 350px;
box-shadow:  0px 5px 25px rgba(1, 1,1, 15%);
    padding: 2px 5px;
   border-radius: 10px; 
}



/* .video1{ */
   /* height: 617px; */
    /* width: 638px; */
   /* box-shadow:  0px 5px 25px rgba(1, 1,1, 15%);
    padding: 2px 5px;
   border-radius: 10px;  */
  /* } */
/* .video2{ */
    /* height: 576px; */
    /* width: 638px; */
    /* box-shadow:  0px 5px 25px rgba(1, 1,1, 15%);
    padding: 2px 5px; 
    border-radius: 10px;  */

  

/* .video3 */
 
    /* height: 449px; */
    /* width: 600px; */
    /* box-shadow:  0px 5px 25px rgba(1, 1,1, 15%); */
    /* padding: 2px 5px; */
    /* border-radius: 10px;  */

  

/* .video4 */
 
    /* height: 479px ;  */
    /* width: 480px; */
    /* box-shadow:  0px 5px 25px rgba(1, 1,1, 15%); */
    /* padding: 2px 5px; */
    /* border-radius: 10px; */
 
        

   
  