body{
    background-color:rgb(230, 230, 230); 
    
    }
    div
    {
     color: hsl(200% 18% 46%);
      text-align:right;
      font-size: 35px;
      padding: 10px;
      margin: 10px;
      border-color: whitesmoke ;
      border-style: solid ;
    }
    
    .super
    {
      font-size: 35px;
      color: black;
      text-align: center;
    }
    .all{
    width: 551px;
    
    }
    .all video
    {
      width: 500px;
       height: 350px;
       box-shadow:  0px 5px 25px rgba(1, 1,1, 15%);
        padding: 2px 5px;
       border-radius: 10px; 
    }
    